* {
  text-align: center;
  font-family: VT323, sans-serif;
}

#startModal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#rules {
  font-size: 22px;
}

#endModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#start {
  width: 73px;
  margin: 17px 0;
}

#startAgain {
  width: 150px;
  display: block;
  margin: 14px auto;
}

#gameboard {
  width: 500px;
  margin: 0 auto;
}

#canvas {
  border: 4px solid #D5E8D4;
}

#best {
  width: 500px;
  text-align: right;
  margin: 0 auto;
  color: #D5E8D4;
}

#bestScoreText {
  font-size: 21px;
}

#currentScoreText {
  font-size: 50px;
  margin: 23px;
}

.modal-content {
  color: white;
  background-color: #D5E8D4;
  width: 70%;
  margin: 140px auto;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
}

h1 {
  text-align: left;
  font-size: 100px;
  margin: 0;
  color: #D5E8D4;
}

button {
  width: 100px;
  height: 35px;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
  color: #D5E8D4;
  box-shadow: 1px 2px 5px #888888;
}

button:hover {
  color: cornflowerblue;
  border-color: cornflowerblue;
}
