* {
  text-align: center;
  font-family: Slackey, sans-serif;
}

.arrowlogo {
  width: 164px;
}

#best {
  order: 2;
  width: 500px;
  text-align: right;
  margin: 0 auto;
  color: #9fdf9f;
}

#bestScoreText {
  font-size: 21px;
}

#bestScoreImg {
  visibility: hidden;
  position: absolute;
  width: 15%;
  margin: -2% 20%;
  opacity: 0.7;
  background-repeat: no-repeat;
}

#canvas {
  border: 8px solid #9fdf9f;
  border-radius: 10px;
}

#controls {
  font-size: 1.3em;
  order: 2;
  margin: 7% 6%;
}

#currentScoreText {
  font-size: 50px;
  margin: 23px;
}

#endModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#gameboard {
  order: 1;
  margin: auto 6%;
}

#header {
  align-content: order: 1;
  text-shadow: 1px 2px grey;
  width: 100%;
}

#middle {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
}

#mute {
  order: 4;
  width: 30px;
  height: 28px;
  float: left;
  background-size: cover;
  margin-top: 12px;
  margin-left: 12px;
  color: grey;
}

#rules {
  font-size: 22px;
}

#pause {
  margin: 12px auto;
  width: 100%;
  font-size: 24px;
  color: #9fdf9f;
}

#spacebar {
  margin-top: 102px;
  font-size: 1.2em;
}

#start {
  width: 119px;
  height: 42px;
  margin: 17px 0
}

#startAgain {
  width: 176px;
  height: 46px;
  margin: 14px auto;
  padding: 0px;
}

#startModal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

#wormy {
  width: 100px;
}

.modal-content {
  color: white;
  background-color: #9fdf9f;
  width: 70%;
  margin: 208px auto;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 7px 6px 5px grey;
}

.blink {
  animation: blink .5s steps(2, start) infinite;
}

@keyframes blink {
  to {
    color: red
  }
}

h1 {
  text-align: center;
  font-size: 100px;
  margin: 0 10px;
  color: #D5E8D4;
}

h2 {
  text-shadow: 1px 2px grey;
}

h3 {
  font-size: 41px;
  margin: 9px 0;
  text-shadow: 1px 2px grey;
}

p {
  text-shadow: 1px 2px grey;
  color: white;
}

button {
  width: 100px;
  height: 35px;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
  color: #9fdf9f;
  box-shadow: 1px 2px 5px #888888;
}

button:hover {
  color: cornflowerblue;
  border-color: cornflowerblue;
}

body {
  background-image: url("../images/jungle-bg.png");
  background-size: 100vw 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

@media screen and (max-width: 1173px) {
  #spacebar {
    margin-top: 30px;
  }
  #controls {
    margin: 1% 6%;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 63px;
  }
}
